* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   color: white;
   background: black;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   padding: 10px 5%;
   justify-content: space-between;
   align-items: center;
   z-index: 1000;
   background: black;
}

.logo {
   position: relative;
   font-size: 20px;
   color: white;
   text-decoration: none;
   font-weight: 700px;
}

.logo:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: black;
   animation: showright 2s ease forwards;
   animation-delay: .4s;
}
.navbar a {
   position: relative;
   font-size: 12px;
   color: white;
   text-decoration: none;
   font-weight: 600px;
   margin-left: 10px;
   transition: 1.5s;
}

.navbar a:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: black;
   animation: showright 2s ease forwards;
   animation-delay: 3.5s;
   z-index: 5;
}

.navbar a:hover,
.navbar a.active {
   color: deepskyblue;
}

.home {
   height: 100vh;
   background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5GdFUdyHKoF1i4buGk7HTl26EYSrNEhrhmQ&usqp=CAU") no-repeat;
   background-size: 38vw;
   background-position: 98% 50%;
   display: flex;
   align-items: center;
   padding: 0 10%;
}

.homecontent {
   max-width: 58vw;
}

.homecontent h1 {
   position: relative;
   font-size: 1.5em;
   font-weight: 700px;
}

.homecontent h1:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   background: black;
   animation: showright 2s ease forwards;
   animation-delay: .9s;
}


.homecontent h3 {
   position: relative;
   margin: 10px 0;
   font-size: 1.2em;
   font-weight: 700px;
   color: deepskyblue;
}

.homecontent h3:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: black;
   animation: showright 2s ease forwards;
   animation-delay: 1.4s;
}

.homecontent p {
   position: relative;
   font-size: 12px;
   margin: 13px 0 13px;
   line-height: 1.5;
}

.homecontent p:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: black;
   animation: showright 2s ease forwards;
   animation-delay: 2s;
}

.homecontent .btnbox {
   position: relative;
   display: flex;
   justify-content: space-between;
   width: 230px;
   height: 40px;
}

.homecontent .btnbox:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: black;
   animation: showright 2s ease forwards;
   animation-delay: 2.4s;
   z-index: 4;
}

.btnbox a {
   position: relative;
   display: inline-flex;
   width: 100px;
   height: 100%;
   background: deepskyblue;
   border: 2px solid blue;
   border-radius: 10px;
   color: black;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   z-index: 1;
   overflow: hidden;
   transition: .5s;
}

.btnbox a:hover {
   color: white;
}

.btnbox a:nth-child(2) {
   background: transparent;
   color: white;
}

.btnbox a:nth-child(2):hover {
   color: black;
}

.btnbox a:nth-child(2):before {
   background: deepskyblue;
}

.btnbox a:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background: black;
   z-index: -1;
   transition: .5s;
}

.btnbox a:hover:before {
   width: 100%;
}

.homesci {
   position: absolute;
   bottom: 10px;
   width: 150px;
   height: 40px;
   display: flex;
   justify-content: space-between;
}

.homesci:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: black;
   animation: showright 2s ease forwards;
   animation-delay: 3s;
   z-index: 5;
}

.homesci a {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background: transparent;
   border-radius: 50%;
   border: 2px solid deepskyblue;
   font-size: 20px;
   color: deepskyblue;
   text-decoration: none;
   z-index: 2;
   overflow: hidden;
   transition: .5s;
}

.homesci a:hover {
   color: white;
}

.homesci a:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background: deepskyblue;
   z-index: -2;
   transition: .5s;
}

.homesci a:hover:before {
   width: 100%;
}

.homehover {
   position: absolute;
   top: 0;
   right: 10px;
   height: 100%;
   width: 30vw;
   background: transparent;
   transition: 3s;
}

.homehover:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: black;
   animation: showright 2s ease forwards;
   animation-delay: 3.5s;
   z-index: 5;
}

.homehover:hover {
   background: black;
   opacity: .8;
}

@keyframes showright {
   100% {
      width: 0%;
   }
}





.btn {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 40px;
   background: deepskyblue;
   border: 2px solid blue;
   border-radius: 8px;
   text-decoration: none;
   z-index: 11;
   overflow: hidden;
   transition: .5s;
}

.btn:hover{
   color: white;
}

.btn:before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background:black ;
   z-index: -11;
   transition: .5s;
}

.btn:hover:before{
   width: 100%;
}

.about{
   display :flex;
   justify-content: center ;
   align-items: center;
   flex-direction: column ;
   gap : 1rem;
   padding-bottom: 4rem;
   padding: 20px 10%;
}

.heading{
   font-size: 2rem;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
}

span{
   color: deepskyblue;
}

.aboutimg{
   position : relative;
   width :10rem;
   height: 10rem;
   border-radius: 50%;
   display: flex;
   justify-content:center;
   align-items: center ;
}

.aboutimg img{
   width: 90%;
   height: 90%;
   object-fit: cover;
   border-radius: 50%;
   background-size: contain;
   background-position: center ;
   border:2px solid deepskyblue;
}

.aboutimg .circlespin{
   position: absolute;
   top: 50%;
   left :50%;
   transform: translate(-50%,-50%) rotate(0);
   width: 100%;
   height: 100%;
   border-radius: 50%;
   border-top:2px solid black;
   border-right:2px solid deepskyblue;
   border-bottom:2px solid black;
   border-left:2px solid deepskyblue;
}

.aboutcontent{
   text-align: center;
}

.aboutcontent h3{
   font-size: 15px;
}

.aboutcontent p{
   font-size: 12px;
   margin:10px 0 20px;
}




.education{
   display: flex;
   justify-content: center ;
   align-items: center ;
   flex-direction: column;
   padding: 20px 5%
}

.education .educationrow{
   display : flex;
   flex-wrap: wrap;
   gap: 20px;
}

.educationrow .educationcolumn{
   flex: 1 1 120px;
}

.educationcolumn .title{
   font-size: 25px;
   margin: 0 0 10px 10px;
}

.educationcolumn .educationbox{
   border-left: 2px solid deepskyblue;
}

.educationbox .educationcontent{
   position: relative;
   padding-left: 10px;
}

.educationbox .educationcontent:before {
   content: "";
   position: absolute;
   top: 0;
   left:-8px;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: deepskyblue;
   
   
}

.educationcontent .content {
   position: relative;
   padding: 10px;
   border: 2px solid deepskyblue;
   border-radius: 10px;
   margin-bottom: 10px;
   overflow: hidden;
}

.educationcontent .content:before {
   content: "";
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background: deepskyblue;
   position: absolute;
   opacity: .4;
   transition: .5s;
   z-index: -21;
}

.educationcontent .content:hover:before {
   width: 100%;
   
}

.educationcontent .content .year {
   font-size: 14px;
   color: deepskyblue;
}

.educationcontent .content .year i {
   padding-right: 10px;
}

.educationcontent .content h3{
   font-size: 17px;
}

.educationcontent .content p {
   font-size: 13px;
   padding-top: 5px;
}



.skills{
   padding: 20px 5% ;
}

.skillsrow{
   display: flex;
   flex-wrap: wrap;
   gap:5px;
}

.skillsrow .skillscolumn{
   flex: 1 1 40vw;
}

.skillscolumn .title{
   font-size: 20px;
   margin-bottom: 10px;
   margin-left: 5px;
}

.skillsbox .skillscontent{
   position: relative;
   border: 2px solid deepskyblue;
   padding: 5px;
   border-radius: 10px;
   overflow: hidden;
}

.skillsbox .skillscontent:before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 0%;
   background: deepskyblue;
   opacity: .2;
   transition: .5s;
   z-index: -31;
}

.skillsbox .skillscontent:hover:before{
   width: 100%;
}

.skillscontent .progress{
   padding: 5px 0;
}

.skillscontent .progress h3{
   display : flex;
   justify-content: space-between;
}

.skillscontent .progress h3 span{
   color: white ;
}

.skillscontent .progress .bar{
   height: 10px;
   border: 1px solid deepskyblue;
   border-radius: 2px;
   padding: 3px ;
   margin: 5px 0;
}

.skillscontent .progress .bar span {
   display : block;
   height: 100%;
   background: deepskyblue;
   border-radius: 2px;
}

.skillscolumn .skillscontent .progress:nth-child(1) .bar span{
   width: 95%;
}

.skillscolumn .skillscontent .progress:nth-child(2) .bar span{
   width: 90%;
}

.skillscolumn .skillscontent .progress:nth-child(3) .bar span{
   width: 65%;
}

.skillscolumn .skillscontent .progress:nth-child(4) .bar span{
   width: 55%;
}



.contact{
   padding: 20px 5%;
}

.contact form{
   max-width: 500px;
   margin: 0 auto;
   text-align: center ;
}

.contact form .inputbox{
   position : relative;
   display: flex;
   flex-wrap: wrap ;
   justify-content: space-between;
   
}

.contact form .inputbox .inputfield{
   position : relative;
   width: 49%;
   margin: 10px 0;
}

.contact form .inputbox .inputfield input,
.contact form .textareafield textarea{
   width :100%;
   height: 100%;
   padding: 10px;
   font-size: 15px;
   color: white;
   background: transparent ;
   border-radius: 10px;
   border: 2px solid deepskyblue;
}

.contact form .inputbox .inputfield input::placeholder,
.contact form .textareafield textarea::placeholder{
   color: white;
}

.contact form .focus {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 0%;
   background: deepskyblue;
   opacity: .2;
   transition: .5s;
   z-index: -41;
}

.contact form .inputbox .inputfield input:focus~.focus,
.contact form .inputbox .inputfield input:valid~
.focus,
.contact form .textareafield textarea:focus~.focus,
.contact form .textareafield textarea:valid~.focus{
   width: 100%;
}

.contact form .textareafield{
   position : relative ;
   margin: 5px 0 5px;
   display: flex;
}

.contact form .textareafield textarea{
   resize: none;
}

.contact from .btnbox.btns .btn{
   cursor: pointer;
}

.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 20px 5%;
   background: #3E3E42;
}

.footertext p{
   font-size: 23px;
}

.footericontop a{
   position: relative;
   display : inline-flex;
   justify-content: center ;
   align-items: center ;
   background: deepskyblue;
   border: 1px solid deepskyblue;
   border-radius: 5px;
   padding: 5px;
   text-decoration: none;
   overflow: hidden;
   z-index: 5;
}

.footericontop a:before{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   height: 0%;
   width: 100%;
   background: black;
   transition: .5s;
   z-index: -51;
}

.footericontop a:hover:before{
   height: 100%;
}

.footericontop a i {
   font-size: 15px;
   color: black;
   transition :.5s;
}

.footericontop a:hover i {
   color: white;
}
